.vscode
.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
.mypy_cache
cache
forge-cache
server/dist
public/dist
.ipynb_checkpoints
artifacts
data
apps/circuits/build/**
apps/circuits/ptau/**
apps/circuits/zk/**
apps/contracts/types
__pycache__
apps/web/src/generated/localhost.json
apps/contracts/deployments/localhost
apps/contracts/src/PlonkVerifier.sol