.vscode
.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
.mypy_cache
cache
forge-cache
server/dist
public/dist
.ipynb_checkpoints
artifacts
data
circuits/build/**
circuits/ptau/*.ptau
circuits/zk/**
contracts/types
__pycache__
apps/web/src/generated/localhost.json
contracts/deployments/localhost
contracts/src/PlonkVerifier.sol