.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container > select {
  padding: 0.7rem 1.75rem 0.7rem 0.8rem;
}

.container,
.main > button {
  margin: 1rem 0 0;
}

.container > select,
.main > button {
  @mixin $text-base;
}

.main > button {
  border-radius: var(--border-radius);
  font-weight: 500;
}
